h1 {
    font-family: grimreaper;
    text-align: center;
}

h2 {
    font-family: grimreaper;
}

.link-container a {
    display: block; /* Make the links block-level elements to stack vertically */
    margin-bottom: 10px;

}