.centered {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif

}
.article-container {
    max-width: 1000px; /* Adjust the maximum width to your preference */
    margin: 0 auto; /* Center the container on the page */
    padding: 20px;
    padding-bottom: 20px;
  }

  .paragraph-with-space {
    margin-bottom: 100px; /* Adjust the value as needed */
}